[
  {kernel, [
    {logger, [
      {handler, default, undefined}
    ]},
    {logger_level, warning}
  ]},
  {graylog_logger, [
    {logger, [
      {handler, graylog, graylog_logger, #{
        host => "localhost",
        port => 12201,
        compression => disabled,
        extra_fields => #{
          <<"_environment">> => <<"production">>
        },
        formatter => {
          logger_formatter, #{
            single_line => true,
            time_offset => "Z",
            template => [msg]
          }
        },
        filters => [
          {remote_group_leader, {fun logger_filters:remote_gl/2, stop}},
          {progress, {fun logger_filters:progress/2, stop}},
          {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}}
        ]
      }}
    ]}
  ]}
].