[{kernel,
  [
    {logger, [
      {handler, default, undefined},
      {handler, graylog, graylog_logger, #{
        host => "localhost",
        port => 12201,
        compression => disabled,
        extra_fields => #{
          <<"_environment">> => <<"production">>
        },
        formatter => {
          logger_formatter, #{
              single_line => true,
              time_offset => "Z",
              template => [msg]
          }
        }
      }}
    ]},
    {logger_level, warning}
  ]}
].